* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

.image {
    padding-left: 50px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin: 0px;
}

.search {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: 45px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    margin-left: 35px;
}

.line {
    border: solid rgb(207, 205, 205) 1px;
    height: 35px;
    margin: 0 10px;

}

.menu {
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.menu a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.menubar {
      display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    gap: 30px;
    padding: 15px;

}

.menubar a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.belowbanner {
    background: rgb(253, 238, 250);
    padding: 12px;
    height: 70px;
}

.bbbox {
    border-radius: 8px;
    border: 1px solid rgba(220, 148, 208, 0.5);
    background: rgb(255, 255, 255);
    width: 100%;
    height: 45px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 40px;
}

.pink {
    border: solid rgba(222, 160, 211, 0.5) 1px;
    height: 15px;
    margin: 0 5px
}

.alpha {
    padding: 50px;
}

.A {
    margin: 10px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

.B {

    text-decoration: none;
    color: rgb(95, 45, 120);
    font-size: 20px;
    display: inline;
}

.C {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
    margin-left: 40px;
}

.E {
    background-color: rgb(131, 41, 94);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: 10px 0 50px rgb(9, 9, 9);
    
}


.F {
    padding: 60px;
}

.G {
    font-size: 32px;
}

.card{
    border: solid rgba(0, 0, 0, 0.238) 1px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
}
.H{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    gap: 30px;
    padding: 10px;
    margin-top: 10px;
}
.I{
    background-color: rgba(203, 184, 238, 0.427);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 50px;
}
.J{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.K{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.L{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.M{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    width: 250px;
}
.O{
    font-size: 20px;
    font-weight: bold;
}
